body{
    margin: 0;
}
#tutto{
    margin: 0 ;
    
}

.sfondo{
    background-image:url(../img/pattern.png);
    background-color: rgb(85, 147, 228);
    background-size: 500px;
    background-position: top;
    padding-top: 50px;
    height: 80px;
}
#logo{
    width: 200px;
    padding: auto;
}
.colore_testo{
    color: rgb(85, 147, 228);
}
ul{
    margin: auto;
    padding-left: 20px;  
}
.grigio{
    color: gray;
}
#tabella{
    width: 100%;
    height: auto;
    border-collapse: collapse;
}

#riga_blu{
    background-color:#2271B3;
    color: white;
}
#riga_celeste{
    background-color: lightblue;
    height: 60px;
}
#riga_bianca{
    background-color: white;
    height: 60px;
}
.container{
    display: inline-block;
    position: relative;
}
.top-left{
    position: absolute;
    color: white;
    top: 2%;
    left: 1%;
    font-size: x-large;
}